<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SOA Book Library</title>
		<link rel="stylesheet" href="css/material.min.css">
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/material.min.js"></script>
		<script src="js/angular.min.js"></script>		
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">		
		<link rel="stylesheet" href="index.css">		
	</head>
	<body>
		<div class="container" ng-app="bookList" ng-controller="bookListController">
			<header>
				<h1>SOA Book Library Management</h1>
			</header>
			<section class="main">				
				<div class="main mdl-grid">		
					<div class="category mdl-cell mdl-cell--3-col">
						<h5>Book categories</h5>
						<ul>
							<li class="active" ng-click="category_click($event)">All</li>
							<!-- MDL Spinner Component -->
							<div class="mdl-spinner mdl-js-spinner is-active"></div>
							<li ng-click="category_click($event)" ng-repeat="category in categories.listCategory">{{ category.field }}</li>
						</ul>
					</div>
					<div class="book-list mdl-cell mdl-cell--9-col">						

						<div class="mdl-color--grey-100">
							<!-- MDL Spinner Component -->
							<div class="mdl-spinner mdl-js-spinner is-active"></div>
							<main class="">
								<div class="mdl-grid">
									<div class="mdl-card mdl-cell mdl-cell--3-col mdl-shadow--2dp" ng-repeat="book in bookList.books">
										<figure class="mdl-card__media">
											<img ng-src="http://restful-soa.esy.es/upload/books/{{ book.image }}" alt="" />
										</figure>
										<div class="mdl-card__title">
											<h1 class="mdl-card__title-text">{{ book.name }}</h1>
										</div>
										<div class="mdl-card__supporting-text list">
											<ul>
												<li class="book-category" data-value="{{ book.field }}">Category: {{ book.field }}</li>
												<li class="book-code">ISBN: {{ book.code }}</li>
												<li class="book-author">Author: {{ book.author }}</li>
												<li class="book-publisher">Publisher: {{ book.publisher }}</li>
												<li class="book-year">Year: {{ book.publish_year }}</li>
												<li class="book-pages">Pages: {{ book.pages }}</li>
											</ul>
										</div>
										<div class="mdl-card__actions mdl-card--border">
											<a ng-click="readmore_click($event)" index="{{$index}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read More</a>
											<div class="mdl-layout-spacer"></div>
											<button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
											<button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
										</div>
									</div>

								</div>
							</main>
						</div>			
					</div>		
				</div>				
				
				<!-- edit form -->
				<section class="book_detail_section">  
			    <header>
			      <div class="book_title">
			        <h2>{{ book_detail.name }}</h2>
			      </div>
			    </header>
			    <section class="book_detail">
			      <div class="book_cover">
			        <img ng-src="http://restful-soa.esy.es/upload/books/{{ book_detail.image }}" alt="" >
			      </div>
			      <div class="book_detail_content">
			        <h4>Book Description</h4>        
			        <p>{{ book_detail.description }}</p>
			        <h4>Book Detail</h4>			        
			        <table>	
			        	<tr class="book-category" data-value="{{ book.field }}">
			        		<td>Category: </td>
			        		<td> {{ book_detail.field }}</td>
			        	</tr>
			        	<tr class="book-code">
			        		<td>ISBN: </td>
			        		<td>{{ book_detail.code }}</td>
			        	</tr>
								<tr class="book-author">
									<td>Author: </td>
									<td>{{ book_detail.author }}</td>
								</tr>
								<tr class="book-publisher">
									<td>Publisher: </td>
									<td>{{ book_detail.publisher }}</td>
								</tr>
								<tr class="book-year">
									<td>Year: </td>
									<td>{{ book_detail.publish_year }}</td>
								</tr>
								<tr class="book-pages">
									<td>Pages: </td>
									<td>{{ book_detail.pages }}</td>
								</tr>
			        </table>																							
	          	<button ng-click="close($event)" index="{{book_detail.id}}" id="back" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	              BACK
	            </button>			          			          	          			         
			      </div>
			    </section>			    
			  </section>

			<footer>
				<div>
					<p>Service Oriented Architecture Assignment Project</p>
				</div>
			</footer>
		</div>
		<script src="main.js"></script>
	</body>
</html>
